{% extends "base.html" %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
<div  class="row justify-content-center">
    <div  class="col-4">
        <h1>Регистрация</h1>
        {% if user.is_authenticated %}
        {{ user.username }}??? Вы же уже зарегистрированы и авторизованы в системе...
        Впрочем, всегда можно <a href="{% url 'logout' %}">выйти</a>.<br/><br/>
        <a href="{% url 'profile' user.id %}">Открыть свой профайл</a>

        {% else %}
        <form method="post" action="">
        {% csrf_token %}
        <dl class="register">
        {% for field in form %}
            <dt>{{ field.label_tag }}</dt>
            <dd class="clearfix">{{ field }}
            {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
            {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
            </dd>
        {% endfor %}
        </dl>
        <input type="submit" value="Зарегистрироваться" / class="clearfix">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}